# Arquivos de log
logs
*.log

# Diretório de módulos npm
node_modules

# Arquivos de build
/build
/dist

# Variáveis de ambiente
.env
.env.local
.env.*.local

# Arquivos de dependências de desenvolvimento
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de cobertura de código
coverage
*.seed
*.map
*.tsbuildinfo

# Outros arquivos e diretórios específicos do editor/IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

/uploads/*
!/uploads/templates/


# mongo
data